<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/Blog.css">
	<link href="https://fonts.googleapis.com/css?family=Fresca|Indie+Flower|Playfair+Display" rel="stylesheet">
	<script src="https://use.fontawesome.com/a104245403.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-1723917463984313",
	    enable_page_level_ads: true
	  });
	</script>
</head>
<body>
	<% include ../Metadata/navbar %>

