<div class="ui fixed inverted borderless menu">
	<div class="ui container">
		<div class="header item"><i class="code icon"></i>  Blog</div>
		<a class="item" href="/">Home</a>
		<!-- <a class="item" href="/blog/new">New Post </a> -->
		<a href="/blog/profile" class="right item"><img class="ui avatar mini image "src="/IMG_20170826_153004_258.jpg" alt="not found"></a>
		<!-- <a href="#"><i class="in flag"></i></a> -->
	</div>
</div>