<% include ../Metadata/header %>
<% include ../Metadata/navbar %>
<div class="ui fixed profile">
	<img src="/IMG_20170826_153004_258.jpg" class="ui circular small centered image">
	<h1 style="color:cyan;text-align:center;font-family:'Indie Flower', cursive;">Himanshu Singh</h1>
	<h3 style="color:white;text-align:center;font-family:'Indie Flower',cursive;">Learner,Programmer,Developer...</h3><br><br><br><br><br><br><br><br><br><br><br><br>	
</div>
<div class="ui container segment">
	<h1 class="ui title" style="text-align:center;">About Me</h1>
	<div class="ui divided items">
		<div class="item">
			<div class="ui rounded image">
				<img src="<%=repos[0].owner.avatar_url%>"
				style="height:300px;width:300px;">
			</div>
			<div class="content">
				<h4 class="discription">A CS Grad who's keen to learn and explore the frontiers of my knowledge to next level.
					A Competitive Coder by heart and Full Stack Web Developer by passion.
					
				</h4>
			</div>
		</div>
	</div>
</div>
<div class="profile1 " align="center">
	<div class="ui container">
		<h1>A dream doesn't become reality through magic; it takes sweat, determination and hard work.</h1>
	</div>
</div>

<div class="ui segment container">
	<div class="ui title"  align="center">
		<h1>My Projects</h1>
	</div>
<div class="ui relaxed divided list">
	<% repos.forEach((repo)=>{%>
		<div class="item">
			<i class="large github middle aligned icon"></i>
			<div class="content">
				<a class="header" href="<%=repo.html_url%>" target="_blank" style="font-weight:bolder;" ><%=repo.name%></a>
				<p class="date" ><%= moment(repo.created_at).format('Do MMMM, YYYY') %></p>
			</div>
  	</div>
	<%})%>
</div>
</div>

<div align="center" class="contact">
	<h3>Other Contact Details</h3>
	<h4>hranjansingh@gmail.com,+7508276344</h4>
	<h2>Connect</h2>
	<div class="ui horizontal list">
		<div class="item">
			<a href="https://github.com/devil202" target="_blank"><i class="large github middle aligned icon"></i></a>
		</div>
		<div class="item">
			<a href="https://www.facebook.com/sirhrs" target="_blank"><i class="large facebook Square middle aligned icon"></i></a>
		</div>
		<div class="item">
			<a href="https://twitter.com/singhtwee" target="_blank"><i class="large twitter middle aligned icon"></i></a>
		</div>
		<div class="item">
			<a href="https://www.instagram.com/innocentdevil._" target="_blank"><i class="large instagram middle aligned icon"></i></a>
		</div>
		<div class="item">
			<a href="https://plus.google.com/u/0/101920804362071612984" target="_blank"><i class="large google plus middle aligned icon"></i></a>
		</div>
		<div class="item">
			<a href="https://www.linkedin.com/in/himanshu-singh-726985126/" target="_blank"><i class="large linkedin middle aligned icon"></i></a>
	</div>
	</div>

</div>



<% include ../Metadata/footer %>
